<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.uuni.do_not_forget.Mapper.ForgetTableMapper">
    <insert id="addForgetTable" parameterType="ForgetTable">
        insert into forget_table(tableContent, tableDeadline, userId)
        values (#{tableContent}, #{tableDeadline}, #{userId});
    </insert>
    <select id="searchForgetTable" resultType="ForgetTable">
        select *
        from forget_table where userId=#{userId};
    </select>
</mapper>